<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">    
</head>
<body style="background-color: black;">
    <main class="pt-5"> 
        <div class="container mt-5">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h1 class="display-4 text-center"><a class="text-dark" href="/">Anonymous App</a></h1>
                            <p class="lead text-center">Oops! Page Not Found</p>
                            <small class="text-center">Error 404: The Page You're Requesting for can't be found</small>
                            <br>
                            <a href="/" class="btn btn-sm btn-warning">Go Back Home</a>                             
                        </div>
                    </div>
                </div>
            </div>           
        </div>

    </main>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>