<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body style="background-color: black;">
    
    <main class="pt-5"> 
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-3 text-center"><a class="text-dark" href="/">Anonymous App</a></h1>
                <p class="lead text-center">This is a Web App that allows you send/receive anonymous messages.</p>
                <small id="usernameHelp" class="form-text text-muted text-center">Created by <a href="http://www.olusola.tk" target="_blank" rel="noopener noreferrer">Emmanuel Olusola</a> </small>
                <hr class="my-4">
                <!-- <p class="text-center">My Landing Page</p> -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12"></div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div>                            <div>
                                <% if(success && success.length > 0){ %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong> <%= success %> </strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>  
                                <% } %>    
                            </div></div>
                            <div>
                                <a href="/signup" class="btn btn-success w-100">Sign Up</a>
                                <div class="mt-2">
                                    <small class="form-text text-muted text-center">If you've registered before, you can login here<small>                                
                                    <a href="/login" class="btn btn-primary w-100">Login</a>                                    
                                </div>
                            </div>  
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12"></div>
                    </div>
                </div>
            </div>           
        </div>

    </main>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    </body>
    </html>