<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Messages | <%= user.username %> | Anonymous</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">    
</head>
<body class="w-100" style="background-color: black;">
    <main class="pt-5"> 
        <div class="container mt-5">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-4 text-center"><a class="text-dark" href="/">Anonymous App</a></h1>
                        <p class="lead text-center">This is a Web App that allows you send/receive anonymous messages.</p>
                        <small id="usernameHelp" class="form-text text-muted text-center">Created by <a href="http://www.olusola.tk" target="_blank" rel="noopener noreferrer">Emmanuel Olusola</a> </small>
                        <hr class="my-4">
                        <p class="text-center">Welcome <%= user.username %></p>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12 col-sm-12"></div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="bg-info container">
                                        <a href="/profile" class="ml-n3 btn btn-dark">Go Back</a>
                                        <p class="lead text-white font-weight-bold">View Messages Below</p>
                                        <ul class="list-group">
                                            <% user.anonymousMessage.slice().reverse().forEach((messages) => { %>                                   
                                                <li class="list-group-item"><p class=""><%= messages.anonymous_message %></p></li>
                                                <div class="text-right mb-3">
                                                    <button type="button" class="btn btn-dark">
                                                        Anonymous <span class="badge badge-secondary"> - <%= messages.date.toDateString() %> </span>
                                                        <span class="sr-only">Anonymous</span>
                                                    </button>                                            
                                                </div>
                                            <% }) %>

                                        </ul>                                    
                                    </div>  
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12"></div> 
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>           
        </div>

    </main>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>